<div class="contents row">
  <div class="content_post" style="background-image: url(<%= @room.image %>);">
    <div class="more">
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_room_path(@room.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', room_path(@room.id), method: :delete %>
        </li>
      </ul>
    </div>
    <p><%= @room.text %></p>
    <span class="name">
      <a href="/users/<%= @room.user.id %>">
        <span>作成者</span><%= @room.user.nickname %>
      </a>
    </span>
  </div>
</div>